<h1>Selected Survey: <%= @survey.survey %></h1>

<% if @questions.any?() %>
  <h3>Current Questions</h3>
  <% @questions.each do |question| %>
    <h4><a href="/question/<%= question.id()%>"><%= question.question %></a></h4>
    <% end %>

    <% else %>
      <h3>There are no questions</h3>
    <% end %>

<h3>Add Questions</h3>

<form action="/survey/<%= @survey.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="description">Redescribe your employee:</label>
  <input name="name" type="text">
  <button type="submit">Add Question</button>
</form>



<h3>Create Questions </h3>
<form class="form-group" action="/survey/<%= @survey.id() %>" method="post">
  <input type="text" name="question">
  <button type="submit" class="btn">Create Question</button>
</form>

<br>
<div class="container">
  <a href="/designer"><button class="btn">Return Home</a>
</div>

<br>
<form action="/survey/<%= @survey.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" class="btn-danger">Delete Survey</button>
</form>
